<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.iia.cdsmat.myqcm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyQCMGreen">
        <activity android:name=".view.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.mcq.McqActivity"
            android:label="@string/title_activity_qcm"
            android:theme="@style/MyQCMGreen" />
        <activity
            android:name=".view.result.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/MyQCMGreen" />
        <activity
            android:name=".view.questionnaire.QuestionnaireActivity"
            android:label="@string/title_activity_questionnaire"
            android:theme="@style/MyQCMGreen"></activity>
    </application>

</manifest>
